/* VARIABLES */
$white1: #fefefe;
$white2: #f9f9f9;
$shark1: #879299;
$shark2: #464F54;
$black1: #1c1e21;
$black2: #272727;
$mark1: #e35654;
$mark2: #a33e3d;
/* ======= */


/* MIXINS */
@mixin transition100ms() {
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
/* ======= */



/* IMPORTS */
@import 'normal';
@import 'fontawesome/font-awesome.scss';
/* ======= */



/* MAIN STYLES */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "open sans", "helvetica neue", "helvetica", sans-serif;
    background-color: $white1;
    color: $shark2;
    position:relative;
}
a {
    text-decoration: none;
    color: $shark1;
    @include transition100ms();
}
a:hover {
    color: $mark1;
}
nav {
    background-color: rgba(255, 255, 255, 0.9);
    color: $shark1;
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding:2em;
    @include transition100ms();
}
footer {
    background-color: $shark2;
    color: $shark1 !important;
    text-align: center;
    height:15vh;
    width:100vw;
    display:table;
    bottom:0;

    a, a:visited {
    color: $shark2;
    display: table-cell;
    vertical-align: middle;
    }
}
section {
    min-height: 100vh;
    text-align:center;
}
.button {
    background-color:none;
    min-width:2em;
    padding: 1.2em;
    color: $shark1;
    @include transition100ms();
    cursor: pointer;
}
.button:hover {
    color: $mark2;
    background-color: $mark1;
}
.button.white {
    background-color:$white1;
    color: $shark1;
}
.button.white:hover {
    background-color: $mark1;
    color: $white1;
}

.button.mark {
    background-color:$mark1;
    color: $white1;
}
.button.mark:hover {
    background-color: $mark2;
    color: $white1;
}
.h-center {
    text-align: center;
    margin:0 auto;
}
.v-center {
    width:100vw;
    min-height:90vh;
    display: table;
    text-align: center;
}
#contact {
    min-height: 100vh;
}
.v-center-child {
    display: table-cell;
    vertical-align: middle;
    padding-bottom:3em;
}
hr {
    border: 0;
    height: 1px;
    margin: 5px auto;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0));
}


#fullpage {
    text-align: center;
}

#fullpage section {
    display:table;
    width:100%;
    text-align: center;
}

section.shark {
	background-color:$shark2;
    color:$white1;
    padding:0;
}
span.paren {
    color:$shark1;
    font-size: 1em;
    font-weight: normal !important;
}
h2 {
    margin-bottom: 0.8em;
}
.fa {
    font-size: 1.3em;
}
.project-wrapper {
    display:inline-block;
    margin:1em 2%;
    width:23%;
    min-width:220px;
    min-height:220px;
    background-color:$white1;
    color:$shark2;
}
.project {
    height:100%;
    text-align: left;
    img {
        width:100%;
        display: block;
    }
    .header, .body {
        padding:2em;
    }
    .header {
        padding-bottom:0;
        border-top:1px $white1;
        @include transition100ms();
    }
    .body {
        padding-top:0;
    }
}
.project:hover .body, .project:hover .header {
    border-top:1px $mark1;

}
#hero span {
    orphans: 3;
    widows: 3;
}
.hidden {
    display: none;
}
.callmemaybe {
  margin-left:2em;
}
/* END MAIN STYLES */



/* FORM STYLES */
textarea, input {
    resize: none;
    padding:0;
    margin:0;
}
input[type=text], textarea {
    font-size: 1em;
    padding: 12px 20px;
    border:0;
    border-bottom: 1px solid $shark1;
    -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    @include transition100ms();
}
input:focus, textarea:focus {
    border-color: $shark2;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: $white1;
    color: $shark2;
    text-transform: uppercase;
    border: none;
    -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    @include transition100ms();
}
input[type=submit]:hover, input[type=submit]:focus {
    color: $mark1;
    border-color: $mark1;
    outline: none;
}
#chatter label {
    display: block;
    font-size:1.5em;
    font-weight: bold;
    padding-bottom:1.5em;
}
.chattertoggle {
    cursor: pointer;
}
#call {
  display:none;
}
/* END FORM STYLES*/

/* MAPS */
.map {
    position:relative;
    padding-bottom:20%;
    height:0;
    overflow:hidden;
    margin-top:2em;

    iframe {
        position:absolute;
        top:0;
        left:0;
        width:100% !important;
        height:100% !important;
    }
}
/* END MAPS*/

/* ARTICLES */
.hero {
    background-color:$shark1;

    .subwrap {
        width:60%;
        margin: 0 auto;
        text-align: left;

        h1 {
            color:$white1;
        }
        .subtext {
            text-transform: uppercase;
            color:$shark2;
        }
    }
}
.wrap {
    padding:2em;

    article {
        width:60%;
        margin: 0 auto;
        text-align: left;
        font-size: 1.2em;
        color:$shark2;
        padding:2em 0;
        .button:hover {
            color:$white1 !important;
        }
    }
}
img.square {
    width:100%;
}
/* END ARTICLES */

/* KEYFRAMES */
/* NOTHING HERE! :D (...yet...)*/
/* END KEYFRAMES*/

/* RESPONSIVE */

@media all and (min-width: 321px) {
    body { font-size:1.2em; }
    .project-wrapper { width: 100vw; margin: 0; }
    section { padding:1em; }
}

@media all and (min-width: 641px) {
    //641px and beyond!
}

@media all and (min-width: 769px) {
    body { font-size:1em; }
    section { padding:0; }
    .seperator { display:none; }
    .project-wrapper { margin:1em 2%; width:23%; display: inline-block; }
    section.shark { padding: 3em 0; }
    .button { border-radius: 3px; display: inline-block; }
    .more-projects, .anti-orphan { display:none; }

}

@media all and (min-width: 1025px) {
}

@media all and (min-width: 1201px) {
    // 1201px and up
}
/* END RESPONSIVE*/

/* HACKS */
.douchebag_safari {
    position: fixed;
    width: 1px;
    left: -50px;
}
.douchebag_safari input {
    width: 1%;
}
/* END THE BS */
