---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family:'FontAwesome';
    src:url(asset_path('fontawesome-webfont.eot?v=4.5.0'));
        src:url(asset_path('fontawesome-webfont.eot?#iefix&v=4.5.0')) format('embedded-opentype'),
        url(asset_path('fontawesome-webfont.woff2?v=4.5.0')) format('woff2'),
        url(asset_path('fontawesome-webfont.woff?v=4.5.0')) format('woff'),
        url(asset_path('fontawesome-webfont.ttf?v=4.5.0')) format('truetype'),
        url(asset_path('fontawesome-webfont.svg?v=4.5.0#fontawesomeregular')) format('svg');
    font-weight:normal;
    font-style:normal
}

// Our variables
$base-font-family: "Open Sans", Arial, sans-serif;
$serif-family: "Libre Baskerville", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$pure-white: #fff;
$white:	  #F7F8FA;
$d-white: #F1F2F4;
$gray:	  #656F7B;
$d-gray:  #3E444C;
$black:   #111111;
$red:	  #FE6A6D;
$d-red:   #DD5D5F;

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;


// Smooth like buttah
@mixin ease($ms) {
	-webkit-transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	   -moz-transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
		 -o-transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
		    transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

@mixin gradient($top, $bottom){
    background: $top;
    background: -moz-linear-gradient(-45deg, $top 0%, $bottom 100%);
    background: -webkit-linear-gradient(-45deg, $top 0%, $bottom 100%);
    background: linear-gradient(135deg, $top 0%, $bottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "reset",
    "base",
    "syntax-highlighting"
;
