---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';



// Our variables
@import url('https://fonts.googleapis.com/css?family=Palanquin');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$monospace-font: 'Inconsolata', 'Menlo', monospace;
$default-font: 'Palanquin', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$black00: #0E0E0E;
$black90: #1B1B1B;
$black80: #111111;
$black70: #414141;
$black60: #565656;
$black50: #868686;

$white10: #FFFFFF;
$white20: #CFCFCF;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'base', 'layout';
