@charset "utf-8";

// Document variables
$base-font-family: "Open Sans", Helvetica, sans-serif;
$rubik: "Rubik", "Open Sans", Helvetica sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$black: #111111;
$black-alt: #3E444C;
$white: #F7F8FA;
$pbc: #1969FF;
$pbc-alt: #2176FF;



// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Animation easing
@mixin ease($ms) {
    -webkit-transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
       -moz-transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
         -o-transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition: all $ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

@mixin animate($rules) {
    -webkit-animation: $rules;
    -moz-animation: $rules;
    -ms-animation: $rules;
    -o-animation: $rules;
    animation: $rules;
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin slanted-gradient($top, $bottom) {
    background: $top;
    background: -moz-linear-gradient(-90deg, $top 0%, $bottom 100%);
    background: -webkit-linear-gradient(-90deg, $top 0%, $bottom 100%);
    background: linear-gradient(-90deg, $top 0%, $bottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset";
@import "base";
