@import '../vars';
@import '../mixins';

div.loader {
  @include transform(translate(0, 1em));
  @include ease(200ms);
  z-index: 10;
  opacity: 0;

  position: absolute;
  pointer-events: none;
  top: calc(50vh - 1.25em);
  left: calc(50vw - 3.75em);

  &.loading {
    z-index: 10;
    opacity: 1;
  }
}
