html, body {
    font-family: 'open sans', sans-serif;
    color: #1c1e21;
    background: linear-gradient(135deg, rgba(254,239,202,1) 0%, rgba(251,120,113,1) 75%, rgba(251,120,113,1) 100%);
    padding:0;
    margin:0;
}
* {
margin: 0;
}
.button {
    padding:1em;
    color: #fefefe;
    background-color:#74c16c;
    display:inline-block;
    border-radius:.3em;
}
.button:hover {
    background-color: #3eb52f;
}
.subtext {
    font-size: 1.2em;
}
#landing {
    height:90vh;
    width:100vw;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 60%, rgba(237,237,237,0) 100%),
    url('../media/1.jpg') no-repeat center center scroll;
    background-size: cover;
    position:relative;
}
#landing .landDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input, select, #submitButton {
    -webkit-appearance:none;
    background-color: #fefefe;
    appearance:none;
    overflow: hidden;
    padding:1em;
    font-size:1em;
    font-family: 'open sans', sans-serif;
    border:none;
    margin:none;
    border-radius: .3em;
}
#submitButton {
    color: #aaa;
}
#submitButton:active {
    color:#74c16c;
    box-shadow: 0 0 12px 0 rgba(28,30,33,0.2);
}
.introText {
    font-size: 1.1em;
}
input:focus {
    outline: none;
    box-shadow: 0 0 12px 0 rgba(28,30,33,0.2);
}
.toolDiv {
    width:40%;
    margin:0 auto;
    margin-top:3em;
}
.whitePaper {
    background-color: #fefefe;
    font-family: 'hack', monospace;
    color:#1c1e21;
    padding:3em 3em 9em 3em;
    border-radius:.5em .5em 0 0;
    margin: 0 auto;
    margin-top:5em;
    width:60vw;
    box-shadow: 0px 3px 16px 0px rgba(28,30,33,0.39);
}
.chatBot {
    max-width:50%;
    border-left: 3px solid #fb7871;
    padding-left:1em;
}
.humanPerson {
    float:right;
    max-width:50%;
    display:none;
}
.slantySVG {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100vw;
    border-color: transparent transparent transparent #fefefe;
}
#landing .slantySVG {
    position: absolute;
    bottom:0;
    border-width: 0 0 20px 100vw;
    border-color: transparent transparent #fefefe transparent;
}
.questionChoice {
    padding:.4em;
    margin: .3em auto;
    border-radius:2px;
    color:#1c1e21;
    text-decoration: none;
    cursor: pointer;
    background-color:#e5e5e6;
    display: inline-block;
}
.disabledChoice {
    cursor:default;
}
.questionChoice:hover {
    background-color:#d1d1d2;
}
.selectedAns {
    background-color:#d1d1d2;
}
.unselected {
    color: #d1d1d2
}
.unselected:hover {
    cursor: not-allowed;
    background-color:#e5e5e6
}
.quarter {
    padding:0 1em;
    margin-bottom:1em;
    border-left: 3px solid #fb7871;
}
.quarterLabel {
    font-size:.9em;
    color: #d1d1d2;
    text-transform: uppercase;
    display: block;
}
.hidden {
    display:none;
}
.steazy {
    position:fixed;
    bottom:0;
    right:-99em;
    max-height: 333px;
}
.steazy2 {
    position:fixed;
    bottom:0;
    left:-99em;
    max-height: 333px;
    transform: scaleX(-1);
}
