/*
//   white       :   #f9f9f9
//   black       :   #2A3033 
//   baby blue   :   #A3CDE5 
//   light blue  :   #5CB1E0 
//   dark blue   :   #4788AD 
//   shark       :   #464F54 
//   light shark :   #879299
*/


* {
    margin: 0; 
    padding: 0;
}
body {
    font-family: "open sans", "helvetica neue", "helvetica", sans-serif;
    background-color: #f9f9f9;
    color: #2A3033;
    z-index: 10;
}
a {
    text-decoration: none;
    color: #879299;
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
a:hover {
    color: #5CB1E0;
}
nav {
    background-color: rgba(255, 255, 255, 0.9);
    color: #879299;
    position: fixed;
    top: 0; 
    left: 0;
    padding: 4vh 0;
    width:100vw;
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
}
.dark {
    background-color: rgba(255,255,255,0.1);
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
nav ul li:hover {
    color: #5CB1E0;
}
footer { 
    background-color: #2A3033;
    color: #879299 !important;
    text-align: center;
    height:15vh;
    width:100vw;
    display: table;
}
footer a,
footer a:visited {
    color: #879299;
    display: table-cell;
    vertical-align: middle;
}
footer a:hover {
    color: #5CB1E0;
}
section {
    height: 100vh; 
}
.button {
    border-radius: 3px;
    background-color:none;
    border: 1px solid #222222;
    display: inline-block;
    padding: 12px;
    color: #222222 !important;
    margin-right:16px;
    -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.button:hover {
    background-color: rgba(34, 34, 34, 0.1);
}
.center {
    text-align: center;
}
.covertext-tarp {
    width:100vw;
    height:100vh;
    display: table;
    text-align: center;
}
.covertext {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width:40vw;
    color: #879299;
}
.coversheet-image {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: url(images/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    z-index: -2;
}
.coversheet {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.75);
    z-index: -1;
}
hr {
    border: 0;
    height: 1px;
    margin: 5px auto;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(135, 146, 153, 0.75), rgba(0,0,0,0)); 
}
.small {
    font-size: .8em;
    color: #879299;
}