@import '../vars';
@import '../reset';
@import '../mixins';
@import '../animations';

article.card {
  cursor: pointer;
  position: relative;

  overflow: hidden;
  box-sizing: border-box;
  padding: 2em 8em 2em 2.5em;
  margin-bottom: 1em;
  margin-left: 2em;
  max-width: 25em;
  min-width: 22em;
  height: 14.5em;

  background: $grey;
  color: $white;

  border-radius: 2px;
  box-shadow: 0px 2px 12px rgba(17, 17, 17, 0.2);
  text-decoration: none;

  h2 { margin-bottom: 0.666667em; }

  p {
    color: $white;
    text-decoration: none;
    opacity: 0.8;
    max-width: 14.5em;
    line-height: 1.5em;
    -webkit-transform: translate3d(0, 0, 1px);
  }

  span {
    opacity: 0.8;
    position: relative;
    display: inline-block;
    color: $white;
    -webkit-transform: translate3d(0, 0, 1px);
    text-decoration: none;
    margin-top: 1em;

    &::after {
      @include ease(200ms);
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 1px;
      background: rgba($white, 0.8);
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba($white, 0.2);
    }
  }

  img {
    object-fit: cover;
    position: absolute;
    right: 0; top: 0;
    height: 100%;
    width: 6em;
  }
}
