@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
@import url("https://fonts.googleapis.com/css?family=Istok+Web");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:not(input):not(textarea) {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut; }

@-moz-keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.bob {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-name: bob;
  -webkit-animation-name: bob;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

* {
  box-sizing: border-box; }

body {
  font-family: "Istok Web", sans-serif;
  background: #142A58;
  color: #FFFFFF;
  min-height: 100vh;
  background: -webkit-radial-gradient(50% 90%, rgba(0, 0, 0, 0.5) 0%, black 140%), -webkit-linear-gradient(-45deg, #2176FF 0%, #1969FF 100%);
  background: -moz-radial-gradient(50% 90%, cover, rgba(0, 0, 0, 0.5) 0%, black 140%), -moz-linear-gradient(-45deg, #2176FF 0%, #1969FF 100%);
  background: radial-gradient(50% 90%, cover, rgba(0, 0, 0, 0.5) 0%, black 140%), linear-gradient(135deg, #2176FF 0%, #1969FF 100%); }

/*# sourceMappingURL=index.css.map */
