@import 'reset';
@import 'mixins';
@import 'animations';
@import url('https://fonts.googleapis.com/css?family=Istok+Web');
$font-family: 'Istok Web', sans-serif;

$black:  #000000;
$white:  #FFFFFF;
$grey:   #1B1B1B;
$blue1:  #2176FF;
$blue2:  #1969FF;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $black;
  min-height: 100vh;
  color: $white;
}

h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size: 2em;
  line-height: 2.4em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.75em;
}

div.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #142A58;
  $radial-start: rgba($black, 0.5) 0%;
  $radial-stop: rgba($black, 1) 140%;
  background: -webkit-radial-gradient(50% 90%, $radial-start, $radial-stop),
              -webkit-linear-gradient(-45deg, $blue1 0%, $blue2 100%);
  background: -moz-radial-gradient(50% 90%, cover, $radial-start, $radial-stop),
              -moz-linear-gradient(-45deg, $blue1 0%,  $blue2 100%);
  background: radial-gradient(50% 90%, cover, $radial-start, $radial-stop),
              linear-gradient(135deg, $blue1 0%, $blue2 100%);

  min-height: 90vh;

  > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

header {
  display: flex;
  flex-direction: column;
  max-width: 26em;
  margin-right: 2em;

  article.social {
    margin-top: 2em;
    font-size: 1.25em;

    &:hover a * {
      opacity: 0.6;
    }

    a.connection {
      text-decoration: none;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      display: flex;
      color: rgba($white, 0.5);

      @include ease(200ms);
      @include transform(translateZ(0));

      span:first-of-type {
        margin: 0.5em;
        color: $white;
      }

      svg {
        fill: rgba($white, 0.5);
        height: 1em;
      }

      * {
        @include ease(200ms);
        @include transform(translateZ(0));
      }

      &:hover * {
        opacity: 1;
      }
    }
  }
}

section.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 52em;
  margin-left: 2em;

  &:hover article * {
    opacity: 0.6;
  }

  article {
    padding: 2em 8em 2em 2.5em;
    position: relative;
    margin-left: 1em;
    max-width: 25em;
    min-width: 22em;
    height: 14.5em;
    background: $grey;
    border-radius: 2px;
    box-shadow: 0px 2px 12px rgba(17, 17, 17, 0.2);
    margin-bottom: 1em;
    overflow: hidden;


    * {
      @include ease(200ms);
      @include transform(translate3d(0, 0, 1px));
    }

    &:hover * { opacity: inherit; }
    &:nth-of-type(2n - 1) { margin-left: 0; }
    h2 { margin-bottom: 0.666667em; }

    p {
      opacity: 0.8;
      max-width: 14.5em;
      line-height: 1.5em;
      -webkit-transform: translate3d(0, 0, 1px);

      a, a:visited {
        position: relative;
        display: inline-block;
        color: $white;
        -webkit-transform: translate3d(0, 0, 1px);
        text-decoration: none;
        margin-top: 1em;

        &::after {
          @include ease(200ms);
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 0;
          height: 1px;
          background: rgba($white, 0.8);
          opacity: 0;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          background: rgba($white, 0.2);
        }

        &:hover::after {
          width: 100%;
          opacity: 1;
        }
      }
    }

    img {
      object-fit: cover;
      position: absolute;
      right: 0; top: 0;
      height: 100%;
      width: 6em;
    }
  }
}

section.contact {
  min-height: 50vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h2 { max-width: 16em; }
  > div {
    position: relative;
    padding-left: 8em;

    img {
      object-fit: cover;
      border-radius: 2px;
      position: absolute;
      left: 0; top: 0;
      height: 100%;
      width: 6em;
    }

    a, a:visited {
      margin-top: 1em;
      height: 3em;
      width: 12em;

      color: $white;
      text-decoration: none;
      text-align: center;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      svg { fill: $white; }

      &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: $blue1;
        border-radius: 0.25em;
        @include ease(300ms);
        z-index: -1;
      }

      &:hover::before {
        @include transform(scale(1.02, 1));
        background: $blue2;
      }
    }
  }
}

footer {
  padding: 2em;
}

// phone
@media (max-width: 599px) {
  body{ background: red; }
}

// tablet-portrait-up {
@media (min-width: 600px) {
  body{ background: orange; }
}

// tablet-landscape-up {
@media (min-width: 900px) and (max-width: 1599px) {
  div.main > div { flex-direction: column; }

  header {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    max-width: 51em;
    margin: 0 0 8em 0;

    h2 { max-width: 16em; }
    article.social { margin: 0 0 1em 0; }
  }

  section.projects { margin: 0; }
}

// desktop-up {
@media (min-width: 1600px) {
  div.main > div { flex-direction: row; }

  header {
    flex-direction: column;
    max-width: 26em;
    margin-right: 2em;
  }

  section.projects { margin-left: 2em; }
}
