@import 'reset';
@import 'mixins';
@import 'animations';
@import url('https://fonts.googleapis.com/css?family=Istok+Web');
$font-family: 'Istok Web', sans-serif;

$black:  #000000;
$white:  #FFFFFF;
$grey:   #1B1B1B;
$blue1:  #2176FF;
$blue2:  #1969FF;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background: #142A58;
  color: $white;
  min-height: 100vh;

  $radial-start: rgba($black, 0.5) 0%;
  $radial-stop: rgba($black, 1) 140%;
  background: -webkit-radial-gradient(50% 90%, $radial-start, $radial-stop),
              -webkit-linear-gradient(-45deg, $blue1 0%, $blue2 100%);
  background: -moz-radial-gradient(50% 90%, cover, $radial-start, $radial-stop),
              -moz-linear-gradient(-45deg, $blue1 0%,  $blue2 100%);
  background: radial-gradient(50% 90%, cover, $radial-start, $radial-stop),
              linear-gradient(135deg, $blue1 0%, $blue2 100%);
}
