@import 'reset';
@import 'mixins';
@import 'animations';
@import url('https://fonts.googleapis.com/css?family=Istok+Web');
$font-family: 'Istok Web', sans-serif;

$black:  #000000;
$white:  #FFFFFF;
$grey:   #1B1B1B;
$blue1:  #2176FF;
$blue2:  #1969FF;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $black;
  min-height: 100vh;
  color: $white;
}

h1, h2, h3 {
  font-weight: lighter;
}

h1 {
  font-size: 2em;
  line-height: 2.4em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.8em;
}

div.main {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #142A58;
  $radial-start: rgba($black, 0.5) 0%;
  $radial-stop: rgba($black, 1) 140%;
  background: -webkit-radial-gradient(50% 90%, $radial-start, $radial-stop),
              -webkit-linear-gradient(-45deg, $blue1 0%, $blue2 100%);
  background: -moz-radial-gradient(50% 90%, cover, $radial-start, $radial-stop),
              -moz-linear-gradient(-45deg, $blue1 0%,  $blue2 100%);
  background: radial-gradient(50% 90%, cover, $radial-start, $radial-stop),
              linear-gradient(135deg, $blue1 0%, $blue2 100%);

  min-height: 90vh;

  > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

header {
  display: flex;
  flex-direction: column;
  max-width: 26em;
  margin-right: 2em;

  article.social {
    margin-top: 2em;
    font-size: 1.25em;

    &:hover a * {
      opacity: 0.6;
    }

    a.connection {
      text-decoration: none;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      display: flex;
      color: rgba($white, 0.5);

      @include ease(200ms);
      @include transform(translateZ(0));

      span:first-of-type {
        margin: 0.5em;
        color: $white;
      }

      svg {
        fill: rgba($white, 0.5);
        height: 1em;
      }

      * {
        @include ease(200ms);
        @include transform(translateZ(0));
      }

      &:hover * {
        opacity: 1;
      }
    }
  }
}

section.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 52em;

  article {
    padding: 2em;
    padding-right: 8em;
    position: relative;
    margin-left: 1em;
    max-width: 25em;
    min-width: 22em;
    height: 14.5em;
    background: $grey;
    border-radius: 2px;
    box-shadow: 0px 2px 12px rgba(17, 17, 17, 0.2);
    margin-bottom: 1em;
    overflow: hidden;

    h2 {
      margin-bottom: 0.666667em;
    }

    p {
      opacity: 0.8;
      max-width: 14.5em;
      line-height: 1.5em;
    }

    img {
      object-fit: cover;
      position: absolute;
      right: 0; top: 0;
      height: 100%;
      width: 6em;
    }
  }
}

footer {
  padding: 2em;
}
