@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
@import url("https://fonts.googleapis.com/css?family=Istok+Web");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:not(input):not(textarea) {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut; }

@-moz-keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.bob {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-name: bob;
  -webkit-animation-name: bob;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

* {
  box-sizing: border-box; }

body {
  font-family: "Istok Web", sans-serif;
  background-color: #000000;
  min-height: 100vh;
  color: #FFFFFF; }

h1, h2, h3 {
  font-weight: lighter; }

h1 {
  font-size: 2em;
  line-height: 2.4em; }

h2 {
  font-size: 1.5em;
  line-height: 1.75em; }

img.loading {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated; }

div.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #142A58;
  background: -webkit-radial-gradient(50% 90%, rgba(0, 0, 0, 0.5) 0%, black 140%), -webkit-linear-gradient(-45deg, #2176FF 0%, #1969FF 100%);
  background: -moz-radial-gradient(50% 90%, cover, rgba(0, 0, 0, 0.5) 0%, black 140%), -moz-linear-gradient(-45deg, #2176FF 0%, #1969FF 100%);
  background: radial-gradient(50% 90%, cover, rgba(0, 0, 0, 0.5) 0%, black 140%), linear-gradient(135deg, #2176FF 0%, #1969FF 100%);
  min-height: 90vh; }
  div.main > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }

header {
  display: flex;
  flex-direction: column;
  max-width: 26em;
  margin-right: 2em; }
  header article.social {
    margin-top: 2em;
    font-size: 1.25em; }
    header article.social:hover a * {
      opacity: 0.6; }
    header article.social a.connection {
      text-decoration: none;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      display: flex;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      transform: translateZ(0); }
      header article.social a.connection span:first-of-type {
        margin: 0.5em;
        color: #FFFFFF; }
      header article.social a.connection svg {
        fill: rgba(255, 255, 255, 0.5);
        height: 1em; }
      header article.social a.connection * {
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0); }
      header article.social a.connection:hover * {
        opacity: 1; }

section.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 52em;
  margin-left: 2em; }
  section.projects:hover article * {
    opacity: 0.6; }
  section.projects article {
    cursor: pointer;
    padding: 2em 8em 2em 2.5em;
    position: relative;
    max-width: 25em;
    min-width: 22em;
    height: 14.5em;
    background: #1B1B1B;
    border-radius: 2px;
    box-shadow: 0px 2px 12px rgba(17, 17, 17, 0.2);
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 1em;
    margin-left: 1em; }
    section.projects article *:not(img.loading) {
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    section.projects article:hover h2 {
      opacity: 1; }
    section.projects article:hover p {
      opacity: 0.8; }
    section.projects article:hover img {
      opacity: 1; }
    section.projects article:hover span {
      opacity: 1; }
      section.projects article:hover span::after {
        opacity: 0.5;
        width: 100%; }
    section.projects article:nth-of-type(2n - 1) {
      margin-left: 0; }
    section.projects article h2 {
      margin-bottom: 0.666667em; }
    section.projects article p {
      color: #FFFFFF;
      text-decoration: none;
      opacity: 0.8;
      max-width: 14.5em;
      line-height: 1.5em;
      -webkit-transform: translate3d(0, 0, 1px); }
    section.projects article span {
      opacity: 0.8;
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      -webkit-transform: translate3d(0, 0, 1px);
      text-decoration: none;
      margin-top: 1em; }
      section.projects article span::after {
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        background: rgba(255, 255, 255, 0.8);
        opacity: 0; }
      section.projects article span::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.2); }
      section.projects article span:hover {
        opacity: 1; }
        section.projects article span:hover::after {
          width: 100%;
          opacity: 1; }
    section.projects article img {
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 6em; }

section.contact {
  min-height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  section.contact h2 {
    max-width: 16em; }
  section.contact > div {
    position: relative;
    padding-left: 8em; }
    section.contact > div img {
      object-fit: cover;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 6em; }
    section.contact > div a, section.contact > div a:visited {
      margin-top: 1em;
      height: 3em;
      width: 12em;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      section.contact > div a svg, section.contact > div a:visited svg {
        fill: #FFFFFF; }
      section.contact > div a::before, section.contact > div a:visited::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #2176FF;
        border-radius: 0.25em;
        -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        z-index: -1; }
      section.contact > div a:hover::before, section.contact > div a:visited:hover::before {
        -webkit-transform: scale(1.02, 1);
        -moz-transform: scale(1.02, 1);
        transform: scale(1.02, 1);
        background: #1969FF; }

footer {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  footer article.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
    footer article.social a, footer article.social a:visited {
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      color: #FFFFFF;
      text-decoration: none;
      margin-right: 1em;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      footer article.social a > span, footer article.social a > svg, footer article.social a:visited > span, footer article.social a:visited > svg {
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        opacity: 0.5; }
      footer article.social a::after, footer article.social a:visited::after {
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        content: '';
        width: 1px;
        height: 0.75em;
        background: rgba(255, 255, 255, 0.25);
        position: absolute;
        right: 0.5em;
        top: 0.125em; }
      footer article.social a:last-child, footer article.social a:visited:last-child {
        margin-right: 0; }
        footer article.social a:last-child::after, footer article.social a:visited:last-child::after {
          display: none; }
      footer article.social a:hover > span, footer article.social a:hover > svg, footer article.social a:visited:hover > span, footer article.social a:visited:hover > svg {
        opacity: 1; }
    footer article.social svg {
      -webkit-transform: translate3d(0, 0, 1px);
      -moz-transform: translate3d(0, 0, 1px);
      transform: translate3d(0, 0, 1px);
      fill: #FFFFFF;
      height: 1em;
      margin-right: 0.5em; }
  footer article.mail a, footer article.mail a:visited {
    color: #FFFFFF;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0); }
    footer article.mail a span, footer article.mail a:visited span {
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1, 1);
      transform: translateZ(0);
      border: 1px solid transparent;
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      opacity: 0.5; }
    footer article.mail a span:nth-child(2), footer article.mail a:visited span:nth-child(2) {
      opacity: 0.4; }
    footer article.mail a:hover span, footer article.mail a:visited:hover span {
      opacity: 1; }
    footer article.mail a:hover span:nth-child(2), footer article.mail a:visited:hover span:nth-child(2) {
      opacity: 0.8; }

section#project-view {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
  section#project-view.hidden {
    opacity: 0;
    pointer-events: none; }
  section#project-view article {
    position: fixed;
    top: 4em;
    left: 50%;
    pointer-events: all;
    min-width: 34em;
    background: #1B1B1B;
    box-shadow: 0px 2px 12px rgba(17, 17, 17, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    margin: 2em;
    padding: 2em;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
    section#project-view article:not(.active) {
      opacity: 0;
      pointer-events: none;
      -webkit-transform: translate3d(-50%, 1em, 0);
      -moz-transform: translate3d(-50%, 1em, 0);
      transform: translate3d(-50%, 1em, 0); }

@media (max-width: 599px) {
  div.main {
    background: -webkit-radial-gradient(50% 90%, rgba(0, 0, 0, 0.5) 0%, black 250%), -webkit-linear-gradient(-45deg, #2176FF 0%, #1969FF 100%);
    background: -moz-radial-gradient(50% 90%, cover, rgba(0, 0, 0, 0.5) 0%, black 250%), -moz-linear-gradient(-45deg, #2176FF 0%, #1969FF 100%);
    background: radial-gradient(50% 90%, cover, rgba(0, 0, 0, 0.5) 0%, black 250%), linear-gradient(135deg, #2176FF 0%, #1969FF 100%); }

  div.main > div {
    width: 100vw;
    align-items: center;
    flex-direction: column;
    -webkit-overflow-scrolling: touch; }

  header {
    width: calc(100% - 4em);
    margin: 10vh 0 0 0;
    justify-content: center;
    min-height: 60vh; }
    header h2 {
      font-size: 1.35em; }
    header .social {
      display: none; }

  section.projects {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10vh 2em;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    max-width: 100vw;
    margin: 0; }
    section.projects article {
      width: 20em;
      height: 23em;
      min-width: 16em;
      padding: 2em 2em 16em 2em;
      margin-right: 2em;
      margin-left: 0; }
      section.projects article p, section.projects article h2, section.projects article span {
        max-width: none; }
      section.projects article img {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8em;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px; }
    section.projects > div.padding {
      width: 1px;
      height: 1px; }

  section.contact {
    width: calc(100% - 2em); }
    section.contact h2 {
      font-size: 1em; }

  footer {
    padding-bottom: 4em;
    flex-direction: column;
    justify-content: flex-start; }
    footer article.social {
      margin-bottom: 1em; }

  footer article.social a::after,
  footer article.social a:visited::after {
    right: 0.5em; }
  footer article.social a svg,
  footer article.social a:visited svg {
    margin-right: 2em; }
  footer article.social a span,
  footer article.social a:visited span {
    display: none; }
  footer article.social a:last-child svg,
  footer article.social a:visited:last-child svg {
    margin: 0; } }
@media (min-width: 600px) and (max-width: 899px) {
  div.main > div {
    width: 100vw;
    flex-direction: column; }

  header {
    width: 80vw;
    margin-left: 10vw;
    justify-content: center;
    min-height: 60vh; }

  section.projects {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 10vw;
    overflow-x: scroll;
    max-width: 100vw;
    margin: 0; }
    section.projects article {
      min-width: 25em;
      width: 25em;
      margin-right: 2em;
      margin-left: 0; }
    section.projects > div.padding {
      width: 1px;
      height: 1px; }

  footer article.social a,
  footer article.social a:visited {
    margin-right: 2em; }
    footer article.social a::after,
    footer article.social a:visited::after {
      right: -1em; } }
@media (min-width: 900px) and (max-width: 1599px) {
  div.main > div {
    flex-direction: column; }

  header {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    max-width: 51em;
    margin: 8em 0 8em 0; }
    header h2 {
      max-width: 16em; }
    header article.social {
      margin: 0 0 1em 0; }

  section.projects {
    margin: 0;
    margin-bottom: 2em; }
    section.projects a:nth-child(2n - 1) {
      margin-left: 0; }

  footer article.social a,
  footer article.social a:visited {
    margin-right: 3em; }
    footer article.social a::after,
    footer article.social a:visited::after {
      right: -1.5em; } }
@media (min-width: 1600px) {
  div.main > div {
    flex-direction: row; }

  header {
    flex-direction: column;
    max-width: 26em;
    margin-right: 2em; }

  section.projects {
    margin-left: 2em; }

  footer article.social a,
  footer article.social a:visited {
    margin-right: 3em; }
    footer article.social a::after,
    footer article.social a:visited::after {
      right: -1.5em; } }

/*# sourceMappingURL=index.css.map */
