.wkndr-body {
    padding: 20vh 10%;
}
.wkndr-body h2 {
    margin-bottom: 2em;
}
.wkndr-body .day, .wkndr-body ul li .time, .wkndr-body ul li .loc {
    text-transform: uppercase;
    color: #879299;
}
.wkndr-body .day {
    margin: 3em 0 1em 0;
    display: block;
}
.wkndr-body ul li {
    list-style: none;
}
.wkndr-body ul li .time::after {
    content: " @ ";
}
.wkndr-body ul li .loc::after {
    content: " : ";
}
.wkndr-body li.ex {
    background: url("nocheck.svg") no-repeat left;
    background-size:20px;
    padding-left: 2em;
}
.wkndr-body li.ch {
    background: url("check.svg") no-repeat left;
    background-size:20px;
    padding-left: 2em;
}
.greycons li.ex, .greycons li.ch {
    fill: #303 !important;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .wkndr-body { 
        padding: 10vh 5%; 
        font-size: 3em;
    }
    .wkndr-body li.ex {
        background: url("nocheck.svg") no-repeat left;
        background-size:7%;
        padding-left: 2em;
    }
    .wkndr-body li.ch {
        background: url("check.svg") no-repeat left;
        background-size:7%;
        padding-left: 2em;
    }
}