/*
//   white       :   #f9f9f9
//   black       :   #2A3033 
//   baby blue   :   #A3CDE5 
//   light blue  :   #5CB1E0 
//   dark blue   :   #4788AD 
//   shark       :   #464F54 
//   light shark :   #879299
*/


nav ul li {
    color: #464F54;
}
nav ul li:hover {
    color: #5CB1E0;
}

::selection {
    color: #f9f9f9;
    background: rgba(135, 146, 153, 0.4);
}

* {
    margin:0;
    padding:0;
}
body {
    background-color:#77c5f7;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    min-width: 500px;
    text-align: center;
}
.hero {
    height:99vh;
    display: table;
    width: 100%;
}
.features {
    background-color:#f9f9f9;
}
.purchase {
    min-height: 85vh;
    display: table;
}
.purchase .item {
    display: table-cell;
    vertical-align: middle;
}
.content-container {
    text-align: center;
    padding: 0 20vw;   
    display: table-cell;
    vertical-align: middle;
}
.voltmeter img, .imco img {
    max-height: 40vh;
    min-height: 200px;
    vertical-align: middle;
    max-width: 100%;
}
.empower {
    vertical-align: middle;
    text-align:left;
    display: inline-block;
}
.sub {
    font-size:1.4em;
}
.title {
    font-size: 2.2em;
}
.left, 
.right {
    width:45%;
    display: inline-block;
    padding: 14vh 0;
}
.imco {
    text-align: center;
    padding: 0;
    vertical-align: bottom;
}
.teco {
    vertical-align: middle;
    text-align: left;
}
.item {
    padding: 0 20vw;
}
.easy {
    background-color:#77c5f7;
}
.hidden{
     opacity:0;
}
.hide {
    display: none;
}
.visible{
     opacity:1;
}
a, a:visited {
    color: #0071bc;
    text-decoration: none;
}
.modal {
    position: fixed;
    top:50%;
    left:50%;
    height:500px;
    width:500px;
}
.cleared {
    display: none;
}



@media (min-width: 40px) and (max-width: 991px) {
    .content-container { 
        padding: 0 5vw;
        display: block;
    }
    .popup-container, .popup-container-help {
        max-width: none;
        font-size: 2.2em;
        margin-top: 20vh;
    }
    .popup-container {
        margin-top:25vh;
    }
    .teco, .imco, .voltmeter, .empower {
        width:100%;
        min-width: 600px;
        display: inline-block;
    }
    .item { 
        padding: 2vh 5vw;
        margin:0 auto;
        display: table;
        margin: 0 auto;
    }
    .left, .right {
        width:80%;
        min-width: 300px;
        font-size: 2.8em;
    }
    footer {  
        font-size: 2.8em;
        padding: 7%;
    }
    .button {
        padding: 24px;
    }
}
