<footer>
    <a href="https://linkedin.com/in/alexpriceco">
        <div class="icon">
            <i class="fa fa-linkedin"></i>
        </div>
    </a>
    <a href="https://twitter.com/alexpriceco">
        <div class="icon">
            <i class="fa fa-twitter"></i>
        </div>
    </a>
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
            <style type="text/css">
                .st0{fill:#3E444C;}
                .st1{display:none;}
            </style>
            <g id="Layer_3">
                <path class="st0" d="m561.2 197.7c0-89.7-53-135.7-184.7-135.7h-168.5v5.4c15.1 0 84.6 42.4 55.3 98.4-41.6 79.5-152 299.8-162.7 320.4-14.2 27.6-61.8 46.3-61.8 46.3v5.4h154.1v-5.4s-35.5-17.8-20.6-48.9c17.7-36.9 71.1-147.2 71.1-147.2h64.3v149.8c0 28.5-40.9 46.3-40.9 46.3v5.4h149.3v-5.4s-41.1-17.8-41.1-46.3v-149.8c158.5 0.1 186.2-59.8 186.2-138.7zm-186.2-130.5s118.8-4.8 118.8 131.9c0.1 137.9-118.8 131.9-118.8 131.9v-263.8zm-67.3 263.7l-60.9 0.1 60.9-121.4v121.3z"/>
            </g>
        </svg>
    </div>
    <a href="https://github.com/alexpriceco">
        <div class="icon">
            <i class="fa fa-github"></i>
        </div>
    </a>
    <a href="https://instagram.com/alexpriceco">
        <div class="icon">
            <i class="fa fa-instagram"></i>
        </div>
    </a>
</footer>
