// Reset some basics
html, body, h1, h2, h3,
h4, h5, h6, p, pre, hr,
blockquote, dl, dd, ol,
ul, figure {
    margin: 0;
    padding: 0;
}
// Lists
li {
    margin-top:1em;
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}


// Links
a, a:visited {
    @include ease(105ms);
    color: $red;
    text-decoration: none;

    &:not(.unstyled):hover {
        color: $d-gray;
        background-color: $d-white;
    }
}
.icon-links {
    font-size:1.2em;
}

// Basic styling
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $d-gray;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: $white;
    text-align: center;

    > * {
        margin: 0 auto;
        text-align: left;
    }
}

section {
    width:50vw;
    padding: 0 25vw 2em 25vw;
    vertical-align: middle;

    > .body-copy {
        line-height: $spacing-unit;
        margin:1em auto;
    }
    &:first-of-type {
        margin-top: 10vh;
    }
    &.inline {
        display: inline-block;
        padding:0;
        vertical-align: top;
    }
}

footer {
    width:100%;
    padding: 2em 0;
    text-align: center;

    > a:hover {
        background-color: transparent !important;
    }

    > .icon {
        pointer-events: none;
    }

    .icon {
        opacity:0.5;
        color:$white;
        @include ease(128ms);
        background-color: transparent;
        width:64px;
        padding:12px;
        display: inline-block;
        vertical-align: bottom;

        &:hover {
            background-color: transparent;
            opacity:1;
        }

        i {
            font-size:24px;
        }

        svg {
            height:32px;
            width:auto;
        }
    }

    .red + & {
        path {
            fill: $white;
        }
    }
}

.button {
    padding:1em;
    min-height:24px;
    min-width:24px;
    vertical-align: bottom;
    text-align: center;
    border:none;
    position: relative;
    background-color:$d-gray;
    color:$white;
    display:inline-block;
    @include ease(150ms);

    & + & {
        margin-right:1em;
    }

    &:hover {
        background-color:$red;
    }

    > .fa-hand-o-right {
        position: absolute;
        top:50%;
        left:50%;
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(0);
    }
    &:hover > .fa-hand-o-right {
        animation: stick-em-up .5s;
    }
}
.cta {
    @extend .button;
    // More todo here...
}

.empty {
    color:$gray;
    opacity: 0.5;
}

@keyframes stick-em-up {
    0% {
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(0);
    }
    30% {
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(-40deg);
    }
    100% {
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(0);
    }
}


h1, h2, h3, h4, h5, h6,
blockquote, pre, ul, ol,
dl, figure,
%vertical-rhythm {
    margin: $spacing-unit auto auto auto;
    line-height: $spacing-unit;
}

p {
    margin: auto auto $spacing-unit / 2 auto ;
}

h1, h2 {
    color:$black;
}
h1 {
    padding-top:2em;
    font-size: 2em;
    margin-top: 0;
    font-family: $base-font-family;
}
h2 {
    color:$gray;
    padding: 1em 0;
    font-family: $base-font-family;
    font-size:1.5em;
    line-height: 1.5em;
}



// Images
img {
    max-width: 100%;
    vertical-align: middle;
}



// Figures
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


// Blockquotes
blockquote {
    background-color: $d-white;
    border-left: .5em solid $gray;
    padding:1em;
    margin-bottom:1em;

    > :last-child {
        margin-bottom: 0;
    }
}



// Code formatting
pre,
code {
    font-size: 15px;
    border: 1px solid $gray;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


// Form Elements
input {
    background-color: $d-white;
    padding:0.5em 2em;
    @include ease(150ms);

    &:focus {
        outline:0;
    }
}
form {
    margin:0 auto;
    width:100%;
    display:flex;
}
button {
    padding:0.5em 2em;
    margin-left:1em;
    background-color: $d-gray;
    font-family: $serif-family;
    color:$white;
    @include ease(150ms);
    display:inline-block;
    cursor: pointer;

    &:focus {
        outline:0;
    }

    &:hover {
        background-color:$black;
    }
}
.left {
    flex-grow: 1;
}
.right {
    width:auto;
    float:right;
}

// Wrapper
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



// Clearfix
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



// Shapes!
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

.document {
    width:128px;
    height:168px;
    display:inline-block;
    margin:1em;
    background-color:$pure-white;
    @include ease(150ms);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.1);
    -moz-box-shadow:    0px 2px 8px 0px rgba(17, 17, 17, 0.1);
    box-shadow:         0px 2px 8px 0px rgba(17, 17, 17, 0.1);
    cursor: pointer;
    text-align: center;
    position: relative;

    > svg {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -90%);
        width:70%;
    }

    > span {
        position:absolute;
        bottom:.5em;
        left:50%;
        transform: translateX(-50%);
        letter-spacing: .2em;
        color:$black;
        opacity: 0.5;
    }
}
.document-container {
    display: inline-block;
    text-align: center;
    vertical-align: top;

    .document-description {
        width:128px;
        color:$gray;
        @include ease(150ms);
        transform: translateZ(0);
    }

    &:hover {
        .document-description {
            color:$d-gray;
        }
        .document {
            -webkit-box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.2);
            -moz-box-shadow:    0px 4px 16px 0px rgba(17, 17, 17, 0.2);
            box-shadow:         0px 4px 16px 0px rgba(17, 17, 17, 0.2);
        }
    }
}

.triangle.before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3em 0 0 100vw;
    border-color: transparent  transparent transparent $red;
}
.triangle.after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3em 100vw 0 0;
    border-color: $red transparent $red $red;
}

@keyframes load-right {
  0% {
    border-width: 0 100vw 3em 0;
  }
  50% {
    border-width: 0;
  }
  100% {
    border-width: 0 100vw 3em 0;
  }
}


@keyframes load-left {
  0% {
    border-width: 0;
  }
  50% {
    border-width: 3em 100vw 0 0;
  }
  100% {
    border-width: 0;
  }
}

// Fixes
section.red {

    @include gradient($red, $d-red);
    color:$white;

    a, a:visited {
        color:$d-white;
    }
    a:hover {
        color:$white;
    }


    h1, h2 {
        color:$white;

        &:after {
            border-top: 1px solid $white;
        }
    }
    h2 {
        color:$white;
    }
}
.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.fullscreen {
    width:100vw;
    height:100vh;
}
.v-center {
    @extend .v-align;
    transform: translateY(-80%);
    text-align: left;
    display: inline-block;
}

// Mobile
@media all and (min-width: 321px) and (max-width: 768px) {
	section {
        width:100vw;
		padding:10vw 0;
      &.red {
      	margin:0;
      }
      &.inline {
          display: block;
          text-align: center;
          vertical-align: top;
          > .document-container {
              display:inline-block;
          }
          h1, h2 {
              text-align: left;
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
              width:80vw;
              margin:0 auto;
          }
      }
	}
    .body-copy {
      font-size: 1.2em;
      width:80vw;
      margin-top:1em;
      margin-left:10vw;
    }


    ol {
        width:80vw;
        > .body-copy {
            margin-left:0;
        }
    }
	h1 {
        word-wrap: break-word;
        margin-left:10vw;
		font-size: 2.2em;
	}
	h2 {
        word-wrap: break-all;
		font-size:1.4em;
	}
}
