@import 'vars';
@import 'reset';
@import 'animations';

body {
  color: $white;
  background: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $font-family;
  font-weight: 400;
}

main > * { @include easeProp(200ms, opacity); }
main.loading > * { opacity: 0; }

main.loaded header > div h1,
main.loaded header > div h2,
main.loaded section.project-cards > *,
main.loaded:not(.loading) header > div article.social a.connection {
  &:nth-child(1) { @include transition-delay(100ms); }
  &:nth-child(2) { @include transition-delay(200ms); }
  &:nth-child(3) { @include transition-delay(300ms); }
  &:nth-child(4) { @include transition-delay(400ms); }
  $easing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
  -webkit-transition: opacity 400ms $easing-function !important;
     -moz-transition: opacity 400ms $easing-function !important;
          transition: opacity 400ms $easing-function !important;
}

main.loading header > div article.social a.connection,
main.loading section.project-cards > *,
main.loading header > div h1,
main.loading header > div h2 {
  &:nth-child(n) { @include transition-delay(0); }
  opacity: 0;
}

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.5em;
}

img.loading {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}

.button {
  margin-top: 2em;
  height: 3em;
  width: 12em;
  max-height: 3em;
  min-height: 3em;
  cursor: pointer;

  color: $white;
  text-decoration: none;
  text-align: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  svg { fill: $white; margin-right: 1em; }
  svg.no-fill { fill: none; }
  svg.translate { transform: translateY(0.15em); }

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $blue1;
    border-radius: 0.25em;
    @include ease(300ms);
    z-index: -1;
  }

  &:hover::before {
    @include transform(scale(1.02, 1));
    background: $blue2;
  }
}

header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 2em 0 2em;
  box-sizing: border-box;

  > div {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 15vh;

    h1 {
      font-size: 2em;
      line-height: 2em;
      margin: 0;
    }

    h2 {
      opacity: 0.8;
      margin-top: 0.5em;
      line-height: 1.75em;
    }

    article.social {
      margin-top: 2em;
      font-size: 1.25em;

      &:hover a * {
        opacity: 0.6;
      }

      a.connection {
        text-decoration: none;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        display: flex;
        color: rgba($white, 0.5);

        @include ease(300ms);
        @include transform(translateZ(0));

        span:first-of-type {
          margin: 0.5em;
          color: $white;
        }

        svg {
          fill: rgba($white, 0.5);
          height: 1em;
        }

        * {
          @include ease(300ms);
          @include transform(translateZ(0));
        }

        &:hover * { opacity: 1; }
      }
    }

    @include for-size(tablet-portrait-up) {
      height: 50vh;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(100vw - 4em);
      > * { max-width: 26em; }
    }

    @include for-size(tablet-landscape-up) {
      justify-content: space-around;
      align-items: center;
    }

    @include for-size(big-desktop-up) {
      justify-content: space-between;
      max-width: 68em;
    }
  }
}

section.project-cards {
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;

  max-width: 68em;
  padding: 0;
  margin: 0;

  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

  @include for-size(tablet-portrait-up) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (pointer: fine) {
    &:hover > * { opacity: 0.5; }
    & > *:hover { opacity: 1; }
  }
}
