@import 'vars';
@import 'reset';
@import 'animations';

body {
  color: $white;
  background: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $font-family;
  font-weight: 400;
}

main.loading header section.project-cards .card {
  opacity: 0;
}

main:not(.loading) header {
  section.project-cards .card,
  > div article.title-group h1,
  > div article.title-group h2 {
     @extend .fadeIn;
     @include animate(0.75s);
  }

  > div article.title-group h2 { @include animation-delay(0.15s) }

  img.introducing-me {
    animation-name: fadeInImg;
    @include animate(1.5s);
    @include animation-delay(0.4s)
  }

  section.project-cards .card {
    @include animate(1s);
    &:nth-child(1) { @include animation-delay(0.6s) }
    &:nth-child(2) { @include animation-delay(0.7s) }
    &:nth-child(3) { @include animation-delay(0.8s) }
    &:nth-child(4) { @include animation-delay(0.9s) }
  }
}

main.loaded header {
  section.project-cards .card,
  > div img.introducing-me,
  > div article.title-group h1,
  > div article.title-group h2 {
     animation-name: none;
  }

  section.project-cards > .card {
    @media (pointer: fine) {
      @include ease(200ms);
    }
  }
}

main {
  @include ease(0.5s);
  background: $black;
  overflow: hidden;
  border-radius: 0.5em;
}

main.daymode { background: $white; }

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.5em;
}

img.loading {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}

.button {
  margin-top: 2em;
  height: 3em;
  width: 12em;
  max-height: 3em;
  min-height: 3em;
  cursor: pointer;

  color: $white;
  text-decoration: none;
  text-align: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: $white;
    margin-right: 1em;
    transform: translateY(-0.15em);
  }

  svg.no-fill { fill: none; }
  svg.translate { transform: translateY(0.15em); }

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $blue1;
    border-radius: 0.25em;
    @include ease(300ms);
    z-index: 0;
  }

  &:hover::before {
    @include transform(scale(1.02, 1));
    background: $blue2;
  }
}

header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1em 0 1em;
  box-sizing: border-box;

  .introducing-me {
    position: relative;
    min-height: 100vh;
    max-width: 1000vw;
    opacity: 0.125;
    position: absolute;
    right: -45%;
    top: -2em;
    background-position: right 50%;
    background-size: cover;

    @include for-size(tablet-landscape-up) {
      right: -25%;
      opacity: 0.5;
    }

    @include for-size(desktop-up) {
      right: -45%;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
    position: relative;
    min-height: 24em;

    h1 {
      font-size: 2em;
      line-height: 1.5em;
      margin: 0;
    }

    h2 {
      @include transform(translateZ(0));
      color: darken($white, 30%);
      margin-top: 1em;
      line-height: 1.75em;

      > span {
        color: $white;
      }
    }

    h1, h2 {
      text-shadow: 0 2px 6px $black;
    }

    article.title-group {
      position: relative;
      overflow: visible;
    }

    @include for-size(tablet-portrait-up) {
      height: 50vh;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(100vw - 4em);
      > * { max-width: 26em; }
    }

    @include for-size(tablet-landscape-up) {
      max-width: 66em;
      justify-content: space-between;
      align-items: center;
    }
  }
}

section.project-cards {
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;

  max-width: 68em;
  padding: 0;
  margin: 0;

  -webkit-overflow-scrolling: touch;
  overflow-x: visible;

  @include for-size(tablet-portrait-up) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (pointer: fine) {
    & > .card {
      @include transform(scale(1) perspective(1px) translateZ(0));
    }

    &:hover > .card { opacity: 0.5; }
    & > .card:hover {
      opacity: 1;
      backface-visibility: hidden;
      @include transform(scale(1.01) perspective(1px) translateZ(0))
    }
  }
}

main.daymode  {
  z-index: -10;
  background: darken($white, 2%);

  header {
    h1, h2 { text-shadow: none; }
    h1 { color: $black; }
    h2 {
      color: lighten($black, 50%);
      > span { color: $black; }
    }
  }

  footer {
    background: $black;
  }

  .banner {
    border-color: $black;
  }
}
