@import 'vars';
@import 'normalize';
@import 'animations';

body {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: $black;
  color: $text-grey-light;
}

section.CI {
  width: 24em;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  margin-bottom: 2em;

  > .message {
    color: $text-grey-dark;

    &:nth-of-type(1) { color: $text-grey-light; }
  }
}

section.options {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  > button.option {
    -webkit-font-smoothing: subpixel-antialiased;
    @include ease(128ms);
    padding: 0 1em;
    position: relative;
    margin-right: 1em;
    color: $cyan-light;
    cursor: pointer;

    &::first-letter { border-bottom: 1px solid $cyan-light; }

    &::before, &::after {
      @include ease(64ms);
      position: absolute;
      top: 0;
    }

    &::before {
      content: '[';
      left: 0;
    }

    &::after {
      content: ']';
      right: 0;
    }

    &:hover:not(:active):not(.selected) {
      &::before { transform: translateX(-0.1em); }
      &::after { transform: translateX(0.1em); }
    }

    &:focus, &:active, &.selected {
      outline: none;
      &::before { transform: translateX(0.25em); }
      &::after { transform: translateX(-0.25em); }
    }
  }

  &.selected > button.option {
    color: $text-grey-dark;

    &:not(.selected) {
      opacity: 0;
      padding: 0;
      margin: 0;
      max-width: 0;
    }

    &::first-letter { border-bottom: 0 solid $cyan-light; }
    &.selected { color: $text-grey-dark; }
  }
}
