@import url('https://fonts.googleapis.com/css?family=Istok+Web');
@import 'reset';
@import 'mixins';
@import 'vars';

body {
  font-family: 'Istok Web', sans-serif;
  background: #000000;
  color: #ffffff;
  padding: 0 1em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 28em;
  margin: 0 auto;
  height: 80vh;

  @include ease(200ms);
  &.loading { opacity: 0; }
}

h1 {
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 2em;
}

p {
  margin: 0;
  display: inline-block;
  line-height: 1.75em;
  font-weight: 400;
  font-size: 1.25em;
}

p > span {
  opacity: 0.8;
}

a, a:visited {
  color: $white;
  text-decoration: none;
  position: relative;

  &::after {
    content: '';
    width: calc(100% - 1.3em);
    height: 1px;
    background: rgba($white, 0.5);
    position: absolute;
    bottom: 5px;
    left: 0.4em;
  }

  &::before {
    @include ease(150ms);
    content: '';
    width: 0;
    opacity: 0;
    height: 1px;
    background: rgba($white, 1);
    position: absolute;
    bottom: 5px;
    left: 0.4em;
  }

  &:hover::before {
    width: calc(100% - 1.3em);
    opacity: 1;
  }
}

input {
  font-size: 1em;
  padding: 1em 1em;
  margin-bottom: 1em;
  width: 100%;
  min-width: 28em;
  box-sizing: border-box;
  background: $black;
  border-top: rgba($white, 0.1) 1px solid;
  border-bottom: rgba($white, 0.1) 1px solid;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: $white;

  &::placeholder {
    font-style: italic;
    color: rgba($white, 0.5);
  }
}
