$white:  #FFFFFF;
$lightgrey: #EEE;
$grey:   #1B1B1B;
$light-grey: #333;
$black:  #000000;

$blue1:  #2176FF;
$blue2:  #1969FF;

$vexvolt--text: #FF6929;
$vexvolt--grad2: #ffffff;
$vexvolt--grad1: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Istok+Web');
$font-family: 'Istok Web', sans-serif;
