---
layout: default
greet: "true"
pay: "true"
---

<section>
	<h1 id="greeting"></h1>
	<div class="body-copy">
		This is your client page. Any documents, sketches, links, or otherwise
		will be stored here, for easy access. There’s nothing here right now,
		but that’ll change as we progress through the project.
		<br><br>
		Think something’s wrong? <a href="sms:15125502287">Message me</a>.
	</div>
	<br>

	<h2>STATEMENTS AND DOCUMENTS</h2>
	<div class="document">
		{% include invoice-paid.svg %}
		<span>INVOICE</span>
	</div>
	<div class="document">
		{% include invoice.svg %}
		<span>INVOICE</span>
	</div>

	<h2>THE LATEST</h2>
	<div class="document">
		{% include sketch.svg %}
		<span>SKETCH</span>
	</div>
	<div class="document">
		{% include design.svg %}
		<span>DESIGN</span>
	</div>
	<div class="document">
		{% include code.svg %}
		<span>SITE</span>
	</div>
</section>

<div class="triangle before"></div>
<section id="red" class="red">
</section>
