@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:not(input):not(textarea) {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut; }

@-moz-keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes bob {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  12.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  25% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  37.5% {
    transform: translate3d(0, 25%, 0);
    -webkit-transform: translate3d(0, 25%, 0); }
  50% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); } }
.bob {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-name: bob;
  -webkit-animation-name: bob;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

* {
  box-sizing: border-box; }

body {
  cursor: default;
  font-family: "Gentium Basic", sans-serif;
  line-height: 1.75em;
  font-size: 20px;
  height: 100vh;
  width: 100%;
  background: #F4EBDC;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em; }

section {
  max-width: 16em; }

.button {
  cursor: pointer;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  display: inline-block;
  border-radius: 2px;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  color: #F4EBDC;
  background: #B71240; }
  .button:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 2px 0 1em 0.5em rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 0 1em 0.5em rgba(0, 0, 0, 0.05);
    box-shadow: 2px 0 1em 0.5em rgba(0, 0, 0, 0.05); }
  .button.disabled {
    opacity: 0.5; }

/*# sourceMappingURL=index.css.map */
