// Reset some basics
html, body, h1, h2, h3,
h4, h5, h6, p, pre, hr,
blockquote, dl, dd, ol,
ul, figure {
    margin: 0;
    padding: 0;
}
// Lists
li {
    margin-top:1em;
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
    line-height: $base-line-height
}


// Links
a, a:visited {
    @include ease(105ms);
    color: $pbc;
    text-decoration: none;

    &:not(.unstyled):hover {
        color: $black;
        background-color: $white;
    }
}


section.red, section.black {
    background: transparent;

    a, a:visited {
        color:$white;
        background-color: rgba($white,0.2);

        &:not(.unstyled):hover {
            color:$white;
            background-color: rgba($white,0);
            border-bottom: 2px solid rgba($white,0.4)
        }
    }
}

section.black {
  a.stripped, a.stripped:hover {
    border-bottom: none;
    background-color: transparent;
  }

  .button {
    background-color: rgba($white,0.4);
    color: $white;
    margin-top: 1em;
    -webkit-backdrop-filter: blur(4px);

    &:hover {
      background-color: $pbc;
      color: $white;
    }
  }
}

.icon-links {
    font-size:1.2em;
}

// Basic styling
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $black;
    @include slanted-gradient($pbc-alt, $pbc);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: $pbc;
    text-align: center;

    > * {
        margin: 0 auto;
        text-align: left;
    }
}

section {
    width:50vw;
    padding: 4vw 25vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    &.project {
        width:70vw;
        padding: 10em 15vw;
        justify-content: space-between;

        > article.text {
            width: 35vw;
            position: relative;

            ul li:first-of-type::before {
                position: absolute;
                top: -2em;
                left: -10%;
                content: "";
                z-index: 0;
                width: 140%;
                height: 20em;
                // background: -moz-radial-gradient(center, ellipse cover, rgba($black,0.6) 0%, rgba($black,0) 70%);
                // background: -webkit-radial-gradient(center, ellipse cover, rgba($black,0.6) 0%, rgba($black,0) 70%);
                background: radial-gradient(ellipse closest-side, rgba($black,0.3) 0%, rgba($black,0) 70%), radial-gradient(ellipse closest-side, rgba($black,0.2) 0%, rgba($black,0) 50%);
            }

            div, li, h1 {
                 z-index: 100;
                 position: relative;
            }

            li {
                display: table;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            h1 { margin: 0; padding: 0; }
        }

        > article.preview {
            width: 30vw;
            min-height: 30vw;
            background-image: url(../media/projects/preview.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        // > .body-copy {
        //     max-width: 60%;
        //     // max-width:40%;
        //     margin-left: 0;
        // }
    }

    h1 {
        margin-left: 0;
    }

    * {
        text-align: left;
        justify-content: flex-start;
        align-content: flex-start;
    }

    > .body-copy {
        line-height: $spacing-unit;
        margin:1em auto;
    }

    &:first-of-type {
        padding-bottom: 10vh;
        padding-top: 10vh;
    }

    &.inline {
        display: inline-block;
        padding:0;
        vertical-align: top;
    }
}

#projects {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include ease(0);

    &.showreel {
      &::after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 90vh;
        width: 100vw;
        opacity: 0.4;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include ease(0);
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
      }
    }
}

@-webkit-keyframes showreel {
  0% { background-image: url('../media/projects/vexvolt.png'); }
  12% { background-image: url('../media/projects/evaline.png'); }
  25% { background-image: url('../media/projects/gesher.png'); }
  37% { background-image: url('../media/projects/webapp.png'); }
  50% { background-image: url('../media/projects/branding.png'); }
  62% { background-image: url('../media/projects/dnd.png'); }
  77% { background-image: url('../media/projects/hire.gif'); }
  100%{ background-image: url('../media/projects/hire.gif'); }
}
@-moz-keyframes showreel {
  0% { background-image: url('../media/projects/vexvolt.png'); }
  12% { background-image: url('../media/projects/evaline.png'); }
  25% { background-image: url('../media/projects/gesher.png'); }
  37% { background-image: url('../media/projects/webapp.png'); }
  50% { background-image: url('../media/projects/branding.png'); }
  62% { background-image: url('../media/projects/dnd.png'); }
  77% { background-image: url('../media/projects/hire.gif'); }
  100%{ background-image: url('../media/projects/hire.gif'); }
}
@keyframes showreel {
  0% { background-image: url('../media/projects/vexvolt.png'); }
  12% { background-image: url('../media/projects/evaline.png'); }
  25% { background-image: url('../media/projects/gesher.png'); }
  37% { background-image: url('../media/projects/webapp.png'); }
  50% { background-image: url('../media/projects/branding.png'); }
  62% { background-image: url('../media/projects/dnd.png'); }
  77% { background-image: url('../media/projects/hire.gif'); }
  100%{ background-image: url('../media/projects/hire.gif'); }
}

#projects-list {
  li {
    > .pointer-finger {
      display: inline-block;
      @include ease(60ms);
      transform: translate3d(0,0,0);
    }
    > a { margin-left: 0.5em;}
    &:hover {
      > .pointer-finger {
        display: inline-block;
        transform: translate3d(0.2em,0,0);
      }
    }
  }
}

footer {
    position: absolute;
    bottom:3em;
    width:40vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;

    > a, a:visited, a:hover {
        background-color: transparent !important;
        border-bottom: none;
    }

    > .icon {
        pointer-events: none;
    }

    .icon {
        opacity:0.5;
        color:$white;
        @include ease(128ms);
        background-color: transparent;
        display: inline-block;
        padding:0;

        &:hover {
            background-color: transparent;
            opacity:1;
        }

        i {
            font-size:24px;
        }

        svg {
            margin-top:0;
            height:32px;
            width:auto;
            fill: currentColor;
        }
    }

    > * {
        justify-content: center;
        display: flex;
    }

    > a {
        align-items: center;
    }

    .red + & {
        path {
            fill: $white;
        }
    }
}

.button {
    padding:1em;
    min-height:24px;
    min-width:24px;
    vertical-align: bottom;
    text-align: center;
    border:none;
    position: relative;
    background-color:$black;
    color:$white;
    display:inline-block;
    @include ease(150ms);

    & + & {
        margin-right:1em;
    }

    &:hover {
        background-color:$pbc;
    }

    > .fa-hand-o-right {
        position: absolute;
        top:50%;
        left:50%;
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(0);
    }
    &:hover > .fa-hand-o-right {
        animation: stick-em-up .5s;
    }
}
.cta {
    @extend .button;
    // More todo here...
}

.empty {
    color:$black;
    opacity: 0.5;
}

@keyframes stick-em-up {
    0% {
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(0);
    }
    30% {
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(-40deg);
    }
    100% {
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(0);
    }
}


h1, h2, h3, h4, h5, h6,
blockquote, pre, ul, ol,
dl, figure,
%vertical-rhythm {
    // margin: $spacing-unit auto auto auto;
    line-height: $spacing-unit;
    margin: $spacing-unit auto auto 0;
}

p {
    margin: auto auto $spacing-unit / 2 auto ;
}

h1 {
    color: $black;
    font-size: 2em;
    margin-top: 0;
    font-family: $title-font-family;
}

h2 {
    color:$black;
    padding: 1em 0;
    font-family: $base-font-family;
    font-weight: 400;
    font-size:1.5em;
    line-height: 1.7em;

    > a, a:visited {
        font-weight: normal;
        background-color: rgba($white, 0.2);
    }

    > a:hover {
        background-color: transparent;
    }
}

h3 {
    color: $black;
    font-size: 1em;
    padding: 1em 0;
    font-family: $title-font-family;
    line-height:1.7em;
    letter-spacing: 2px;
}


// Images
img {
    max-width: 100%;
    vertical-align: middle;
}


// Form Elements
input {
    background-color: $white;
    padding:0.5em 2em;
    @include ease(150ms);

    &:hover {
        -webkit-box-shadow: 0px 2px 16px 0px rgba(17, 17, 17, 0.2);
        -moz-box-shadow:    0px 2px 16px 0px rgba(17, 17, 17, 0.2);
        box-shadow:         0px 2px 16px 0px rgba(17, 17, 17, 0.2);
    }

    &:focus {
        outline:0;
        -webkit-box-shadow: 0px 2px 16px 0px rgba(17, 17, 17, 0.2);
        -moz-box-shadow:    0px 2px 16px 0px rgba(17, 17, 17, 0.2);
        box-shadow:         0px 2px 16px 0px rgba(17, 17, 17, 0.2);
    }
}

form {
    margin:0 auto;
    width:100%;
    display:flex;
}

button {
    padding:0.5em 2em;
    margin-left:1em;
    background-color: $black;
    font-family: $base-font-family;
    font-size: 1em;
    color:$white;
    @include ease(150ms);
    display:inline-block;
    cursor: pointer;
    white-space: nowrap;

    &:focus {
        outline:0;
    }

    &:hover {
        background-color:$black;
        -webkit-box-shadow: 0px 2px 16px 0px rgba(17, 17, 17, 0.2);
        -moz-box-shadow:    0px 2px 16px 0px rgba(17, 17, 17, 0.2);
        box-shadow:         0px 2px 16px 0px rgba(17, 17, 17, 0.2);
    }
}
.left {
    flex-grow: 1;
}
.right {
    width:auto;
    float:right;
}

.button, button {
  -webkit-transform: translate3d(0,0,0);

  &:hover {
    transform: translate3d(0,-0.1em,0);
  }

  &:active {
    transform: translate3d(0,0.1em,0);
  }
}

.desktop-hint {
  display: inline-block;
  transform: translateY(-1em);
  margin-left: 1em;
  padding-left: 1.6em;

  > i {
    opacity: 0.5;
    font-style: italic;
  }

  &::before {
    content: '😉';
    position: absolute;
    left: 0;
  }
}

// Wrapper
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


// Clearfix
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


// Shapes!
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

#placeholder {
    padding: 10em auto;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
}

@keyframes load-right {
  0% {
    border-width: 0 100vw 3em 0;
  }
  50% {
    border-width: 0;
  }
  100% {
    border-width: 0 100vw 3em 0;
  }
}


@keyframes load-left {
  0% {
    border-width: 0;
  }
  50% {
    border-width: 3em 100vw 0 0;
  }
  100% {
    border-width: 0;
  }
}

// Fixes
section.red {
    color:$white;

    h1, h2 {
        color:$white;

        &:after {
            border-top: 1px solid $white;
        }
    }
    h2 {
        color:$white;
    }
}
section.black {
    color:$white;
    background-color:$black;

    h1, h2, h3 {
        color:$white;
    }
}
section.white {
    color:$black;
    background-color:$white;

    h1, h2, h3 {
        color:$black;
    }
}
.full-center-parent {
    background: $white;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    height:90vh;
    width:100vw;

    h2, div {
        width:100%;
        display: block;
    }
}
.full-center {
    flex-wrap: wrap;
    justify-content: baseline;

    > h2 {
      margin: 0;
    }
}

.darkmode {
  background: $black;
  h1, h2, h3, h4, h5, h6, span, p {
    color: $white;
  }

  .icon-links a {
    &:hover { color: $white; background-color: $black; }
  }
}

br.mobile {
    display: none;
}

.hidden {
    display: none;
}

#contact {
    min-height:80vh;
}

// Vertical center pages (404 and 403)
body.black {
    @extend section.black;
    @include slanted-gradient($black, $black);
    background-color: $black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

// Mobile
@media all and (min-width: 321px) and (max-width: 768px) {
    .desktop-hint { display: none; }

    #projects {
      overflow: hidden;

      &.showreel {
        &::after {
          -webkit-animation: showreel 8s infinite step-end;
          -moz-animation: showreel 8s infinite step-end;
          animation: showreel 8s infinite step-end;
        }
      }
    }

    section {
        width:100vw;
        padding:10vw 0;

        &.red {
            margin:0;
        }

        &.inline {
            display: block;
            text-align: center;
            vertical-align: top;

            > .document-container {
                display:inline-block;
            }

            h1, h2 {
                text-align: left;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                width:80vw;
                margin:0 auto;
            }
        }

        &.project {
            width:100vw;
            padding: 15vw 0;

            > article.text {
                width: 80vw;
                margin-left: 10vw;
            }

            > article.preview {
                display:none;
            }
            // > .body-copy {
            //     max-width:80vw;
            //     margin-left: 10vw;
            // }
        }
    }
    .body-copy {
      font-size: 1.2em;
      width:80vw;
      margin-top:1em;
    }

    footer {
        align-items: flex-end;
        left:10vw;
        width:80vw;
        transform: none;
    }

    section:last-of-type {
        padding-bottom: 20vw;
    }

    button {
        padding: .75em 1.5em .75em 1.5em;
        margin: 0;
        text-align: center
    }
    input {
        padding: .75em 0 .75em 10vw;
    }

    ol {
        width:80vw;
        > .body-copy {
            margin-left:0;
        }
    }
	h1 {
        word-wrap: break-word;
        width:80vw;
        margin-left:10vw;
		font-size: 2em;
        line-height: 1.5em;

        section & {
            margin-left:10vw;
        }
	}
	h2 {
        word-wrap: break-all;
        width:80vw;
        margin:0 2em;
		font-size:1.2em;
	}
    .triangle.northwest {
        border-width: 10vw 100vw 0 0;
        margin-bottom:-10vw;
    }
    .triangle.southwest {
        border-width: 10vw 0 0 100vw;
        margin-top:-10vw;
    }

    br.mobile {
        display: block;
    }
}

// Bigass screens
@media all and (min-width: 1600px) {
  section {
    min-height: 60vh;
  }
}
