@import '../vars';
@import '../mixins';

footer {
  padding: 2em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  position: relative;
  z-index: 1;

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width: 100%;
  }

  &::after {
    z-index: 0;
    top: -0.5em;
    height: 0.5em;
    background: $white;
  }

  &::before {
    z-index: -2;
    top: -0.5em;
    height: 1em;
    background: $black;
  }

  article.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    @include ease(200ms);

    a, a:visited {
      @include ease(200ms);
      color: $white;
      text-decoration: none;
      margin-right: 2em;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      > span, > svg {
        @include ease(200ms);
        opacity: 0.5;
      }

      svg {
        height: 1.125em;
      }

      &::after {
        @include ease(200ms);
        content: '';
        width: 1px;
        height: 0.75em;
        background: rgba($white, 0.25);
        position: absolute;
        right: -0.75em;
        top: 0.125em;
      }

      &:last-child {
        &::after { display: none; }
        margin-right: 0;
      }
    }

    svg {
      @include transform(translate3d(0, 0, 1px));
      fill: $white;
      height: 1em;
      margin-right: 0.5em;
    }

    span { display: none; }
  }

  article.mail {
    a, a:visited {
      font-size: 1.125em;
      color: $white;
      text-decoration: none;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);

      span {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
        border: 1px solid transparent;
        @include ease(200ms);
        opacity: 0.5;
      }

      span:nth-child(2) { opacity: 0.4; }
    }
  }

  @include for-size(tablet-portrait-up) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 2em;

    article.social a > span,
    article.social a:visited > span, {
      display: block;
    }

    article.social { margin: 0; }
    article.mail { margin: 0; }
  }

  @include for-size(desktop-up) {
    margin: 0 auto;
  }

  @media (pointer: fine) {
    article.social a,
    article.social a:visited {
      &:hover {
        > span, > svg { opacity: 1; }
      }
    }

    article.mail {
      &:hover {
        span { opacity: 1; }
        span:nth-child(2) { opacity: 0.8; }
      }
    }
  }
}
