@import '../vars';
@import '../mixins';

section.contact {
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
  padding: 10vh 3em;

  &::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    background: -webkit-linear-gradient(180deg,
      rgba($black, 0) 40%, rgba($black, 1) 50vh);
    background: -moz-linear-gradient(180deg,
      rgba($black, 0) 40%, rgba($black, 1) 50vh);
    background: linear-gradient(180deg,
      rgba($black, 0) 40%, rgba($black, 1) 50vh);
  }

  h2, p, .button {
    position: relative;
    color: $white;
    z-index: 10;
    text-shadow: 0px 2px 4px rgba($black, 0.25);
  }

  h2 { margin: 0.25em 0; }

  p {
    margin: 0;
    opacity: 0.8;
    font-size: 1.25em;
    line-height: 1.75em;
  }

  img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    object-position: top;
    object-fit: cover;
    z-index: 0;
    @include transform(translateX(-50%));
  }

  @include for-size(tablet-portrait-up) {
    flex-direction: row;
    min-height: 0;
    padding: 0;
    justify-content: center;
    align-items: stretch;
    padding: 20vh 0;

    img {
      border-radius: 0.25em;
      position: relative;
      object-position: top;
      object-fit: cover;
      left: auto; top: auto;
      width: 6em;
      max-height: 15em;
    }

    > div {
      max-width: 20em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &::before { opacity: 0; }
  }

  @include for-size(big-desktop-up) {
    margin: 10vh 0;
  }
}

main.daymode section.contact {
  > div { h2, p { color: $white; } }
  background: -webkit-linear-gradient(180deg,
    rgba($black, 0) 40%, rgba($black, 1) 50vh);
  background: -moz-linear-gradient(180deg,
    rgba($black, 0) 40%, rgba($black, 1) 50vh);
  background: linear-gradient(180deg,
    rgba($black, 0) 40%, rgba($black, 1) 50vh);

  @include for-size(tablet-portrait-up) {
    background: $white;
    > div h2, > div p {
      color: $black;
      text-shadow: 0px 2px 4px rgba($black, 0.1);
    }
  }
}
