@font-face {
  font-family: 'Charter';
  src: url("../typography/charter_regular-webfont.eot");
  src: url("../typography/charter_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../typography/charter_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CharterBold';
  src: url("../typography/charter_bold-webfont.eot");
  src: url("../typography/charter_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../typography/charter_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CharterItalic';
  src: url("../typography/charter_italic-webfont.eot");
  src: url("../typography/charter_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../typography/charter_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CharterBoldItalic';
  src: url("../typography/charter_bold_italic-webfont.eot");
  src: url("../typography/charter_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../typography/charter_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Charter", serif;
  color: #111111;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Blockquotes
 */
blockquote {
  color: #6d6d6d;
  border-left: 4px solid #c4c4c4;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.wrapper:after {
  content: "";
  display: table;
  clear: both; }

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #6d6d6d; }

a, a:visited {
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: #6d6d6d;
  text-decoration: none; }

a:hover, a:active {
  color: #111111;
  border-bottom-color: #FFDC00;
  text-decoration: none; }

.title-1 {
  font-size: 1.5em;
  padding: .5em;
  letter-spacing: .2em;
  text-transform: capitalize; }

.title-2 {
  padding: .5em;
  letter-spacing: .2em;
  text-transform: uppercase; }

.title-3 {
  display: inline-block;
  margin: 1em 0;
  padding: .3em;
  font-size: 0.8em;
  letter-spacing: .2em;
  text-transform: uppercase;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF; }

.hero-wrapper {
  height: 80vh;
  width: 100vw;
  background-color: #111111;
  color: #FFFFFF;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/primary.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hero-wrapper .hero {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hero-wrapper .hero hr {
      border: none;
      height: 1px;
      background-color: #FFFFFF;
      width: 95%;
      margin: 0 auto;
      margin-bottom: .3em;
      margin-top: .3em; }

section.text {
  padding: 2em 0;
  text-align: center;
  background-color: #FFFFFF;
  color: #111111; }
  section.text .body-copy {
    width: 50%;
    margin: 0 auto;
    color: #6d6d6d; }
    section.text .body-copy a, section.text .body-copy a:visited {
      border-bottom-color: #FFDC00; }
    section.text .body-copy a:hover {
      border-bottom-color: #111111; }

section.slider-wrapper {
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  background-color: #111111; }
  section.slider-wrapper div {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: calc(100%-30px); }
  section.slider-wrapper *:focus {outline:0 !important;}

  #contact {
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  a.button {
      padding: 1em 4em;
      display: table;
      color: #111;
      text-transform: uppercase;
      margin: 2em auto;
      border: 2px solid #111;
      position: relative;
      cursor: pointer;
      -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
         -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
           -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
              transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  }

  a.button:hover {
      background-color: #111;
      color: #FFF;
      padding-left: 5em;
      padding-right: 3em;
  }

  a.button::before {
      content: '';
      background-image: url(../media/assets/arrow.svg);
      background-position: center center;
      background-size: 1em 1em;
      height: 1em;
      width: 1em;
      color: #FFF;
      position: absolute;
      top: 50%;
      left: 3em;
      transform: translate3d(-1em,-50%,0);
      opacity: 0;
      -webkit-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
         -moz-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
           -o-transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
              transition: all 150ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
  }

  a.button:hover::before {
      opacity: 1;
      transform: translate3d(0,-50%,0);
  }

.slick-slide {
  opacity: 0.4;
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1); }

.slick-track .slick-active.slick-center {
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  opacity: 1; }

div.slick-arrow {
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 50vw;
  text-align: center;
  display: inline-block;
  background-color: #dddddd;
  font-family: "Charter", serif;
  font-size: 0.8em;
  letter-spacing: .2em;
  text-transform: uppercase;
  padding: 1em 0;
  margin: 0;
  border: 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;}
  div.slick-arrow::before {
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1); }
  div.slick-arrow:first-of-type::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    transform: rotate(180deg) translate3d(50%,53%,0);
    background-image: url(../media/assets/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;}
  div.slick-arrow:first-of-type:hover::before {
    transform: rotate(180deg) translate3d(80%,53%,0);}
  div.slick-arrow:last-of-type::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    transform: translate3d(-50%,-47%,0);
    background-image: url(../media/assets/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;}
  div.slick-arrow:last-of-type:hover::before {
    transform: translate3d(-20%,-47%,0);}
  div.slick-arrow:hover {
    background-color: #c4c4c4; }

footer {
  padding: 2em 0;
  text-align: center;
  width: 100vw;
  background-color: #FFFFFF;
  position: relative;}
  footer::before {
    content: '~';
    position: absolute;
    top: 0;
    left: 50%;
    color: #6d6d6d}
  footer br {
    line-height: 2em; }


@media all and (min-width: 321px) and (max-width: 768px) {
    section.text .body-copy {
        width: 80%;
    }
}
