/* VARIABLES */
$white1: #fefefe;
$white2: #f9f9f9;
$shark1: #879299;
$shark2: #464F54;
$black1: #1c1e21;
$black2: #272727;
$mark1: #e35654;
$mark2: #a33e3d;
/* ======= */


/* IMPORT */
@import '../../css/compressed/index.css';
/* ======= */


section {
    min-height: 0;
}
section.feature {
    padding: 5vh 0;
}
.info-icon {
    width:10%;
    vertical-align: top;
    display: none;
}
.info-icon .fa {
    color: $mark1;
    font-size:5vw;
}
.info-text, .purchase {
    width:80%;
    margin: 0 auto;
    text-align: left;
}
#volt-top {
    height:40vh;
    width:100%;
    background: url(https://unsplash.it/3000/1000/?random) 
                no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#volt-bottom {
    height:40vh;
    width:100%;
    background: url(https://unsplash.it/3000/1000/?random) 
                no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.question {
    color: $shark1;
    margin:0 1em;
    display:none;
}
.question:hover {
    color:$mark1;
}
.wafer-thin-mint {
    margin:0 auto;
    height:30vh;
    margin-top:5vh;
}
.trigger {
    cursor: pointer;
}
.small-text {
    font-size:0.8em;
    text-align:center;
    text-transform: uppercase;
}

@media all and (min-width: 321px) {}
@media all and (min-width: 641px) {}
@media all and (min-width: 769px) {
    .info-text, .info-icon, .question {
        display: inline-block;
    }
    .info-text {
        width:30%;
    }
    .purchase {
        width:40%;
    }
    section.feature {
        padding: 15vh 0;
    }
    .wafer-thin-mint {
        margin-top:10vh;
    }
    
}
@media all and (min-width: 1025px) {}
@media all and (min-width: 1201px) {}