/* VARIABLES */
$white1: #fefefe;
$white2: #f9f9f9;
$shark1: #879299;
$shark2: #464F54;
$black1: #1c1e21;
$black2: #272727;
$mark1: #e35654;
$mark2: #a33e3d;
/* ======= */


/* IMPORT */
@import '../../css/compressed/index.css';
/* ======= */

section {
    min-height: 0;
}
section.feature {
    padding: 5vh 0;
}
.hero-feature {
    padding:20vh 0;
    color: $white1;
}
.info-icon {
    width:10%;
    vertical-align: top;
    display: none;
}
.info-icon .fa {
    color: $mark1;
    font-size:5vw;
}
.info-text, .purchase {
    width:80%;
    margin: 0 auto;
    text-align: left;
}
#volt-top {
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.55)), url('front.jpg')
                no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    background-position: top;
}
#volt-bottom {
    height:40vh;
    width:100%;
    background: url('front.jpg')
                no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    background-position: top;
}
#volt-right {
    height:40vh;
    width:100%;
    background: url('right.jpg')
                no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
}
#volt-left {
    height:40vh;
    width:100%;
    background: url('left.jpg')
                no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
}
.question {
    color: $shark1;
    margin:0 1em;
    display:none;
}
.question:hover {
    color:$mark1;
}
.wafer-thin-mint {
    margin:0 auto;
    height:30vh;
    margin-top:5vh;
}
.thick-veggie-burger {
  margin: 0 auto;
  height:30vh;
  width:100vh;
  background-size:cover;
  margin-top:5vh;
}
.trigger {
    cursor: pointer;
}
.small-text {
    font-size:0.8em;
    text-align:center;
    text-transform: uppercase;
}

@media all and (min-width: 321px) {}
@media all and (min-width: 641px) {}
@media all and (min-width: 769px) {
    .info-text, .info-icon, .question {
        display: inline-block;
    }
    .info-text {
        width:30%;
    }
    .purchase {
        width:25%;
    }
    section.feature {
        padding: 15vh 0;
    }
    .hero-feature {
        padding: 25vh 0;
    }
    .wafer-thin-mint {
        margin-top:10vh;
    }
    body {
      font-size:1.1em;
    }
    #volt-top, #volt-bottom, #volt-right, #volt-left {
        background-attachment: fixed;
    }
}


@media all and (min-width: 1025px) {}
@media all and (min-width: 1201px) {}
